@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	          var homepage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
							var datacentrelist= homepage?.DataCintres;
							var cloudlist =homepage?.Clouds;
							var compaines= homepage?.CompaniesList;
							

	Layout = "Master.cshtml";
}
<script>
function changecheck(id) {
    console.log(id);
      var selected = document.getElementById(id)
if(selected.checked==true)
{
 let sub = document.querySelectorAll('input[type=checkbox]')
 sub.forEach(item => {
    item.checked=false;
    
})
selected.checked=true;
}



}
</script>
 <section id="top-page-image">
<div class="top-page-image-inner container-fluid">
	<div class="img" style="background-image:url('@Model.HeaderImage?.Url()?anchor=center&amp;mode=crop&amp;width=1640&amp;height=850&amp;rnd=132440410630000000');"></div>
	
	</div>
</section>
       
					<section id="firest-message">
						     <div class="content-box-top-down-padding firest-message-main">
            <div class="firest-message-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 firest-message-left-side wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInLeft;">
                            <div class="left-side-inner">
                                
                                <h2><span class="span1">&nbsp;&nbsp; @Model.Companyname1</span><br><span class="span2">@Model.Companyname2</span></h2>
                            </div>
                        </div>
                        <div class="col-sm-7 firest-message-right-side wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight; ">
                            
                    				            @Html.GetBlockListHtml(Model.MainContent)

                        </div>
                    </div>

                </div>
            </div>
        </div>         
					</section>
	<section id="numbers-section">
        <div class="container" >
						<div class="title-grneral-flued">
                            <h4>@Model.KeyFiguresLabel</h4>
                            <div class="red-line-top"></div>
                        </div>
        </div>
        <div class="content-box-down numbers-home-main">
            <div class="numbers-home-inner">
                <div class="container">

                    <div class="row list-threeInRow-topIcon-downDesc-numbers">


  						            @Html.GetBlockListHtml(Model.KeyFigures);
	 
                    </div>
                </div>
            </div>
        </div>



</section>
<div class="container" style="padding-top: 20px;">
<div class="title-grneral-flued">
		<h4>@Model.Partners</h4>
		<div class="red-line-top"></div>
		</div>
</div>
<section class="logo-list">
	<div class="container">
	<nav id="menu" style="display:block;">
		
        @{
            int rowcount=0;
        }
        <ul class="main-menu clearfix" style="display:block;" >
			@foreach (var items  in datacentrelist)
					{
                        rowcount++;
        <div class="row" style="padding-left:100px ;">
            @{int itemscount=items.Multiimagpicker.Count();}


                              






                  <li ><a>@items.Title<span class="drop-icon">▾</span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="@items.Key">▾</label>
                                </a>
                                @if(rowcount==1)
                                {
   <input type="checkbox" id="@items.Key" onclick='changecheck("@items.Key.ToString()")'  checked="true">
                                }
                                else
                                {
                  <input type="checkbox" onclick='changecheck("@items.Key.ToString()")'   id="@items.Key">

                                }
                                <ul class="sub-menu">
                                    @foreach (var item in items.Multiimagpicker)
                                                    {
                                                      
                       <div class="col-sm-2 list-threePicsInOneRow-items"  >
          <div class="list-threePicsInOneRow-items-inner"  style="height:100px; width:90px;">
       <div href="#" class="one-pic-action" style="display: flex;justify-content: center;">
                                    <div class="one-pic-item">
                                       
                                        <div class="one-pic-item-inner" >
                                          <img src="@item.Url()?"  class="img-responsive" alt=""  width="300px" height="150px">
                                        </div>
                                        
                                    </div>
    
                                </div>
                            </div>
                        </div>
                                                   
                                                    }
                              
                                </ul>
                            </li>



        </div>
					}
                    </ul>
                    </nav>
    </div>
</section>
<div class="container" style="padding-top: 38px;">
<div class="title-grneral-flued">
		<h4>@Model.Companies</h4>
		<div class="red-line-top"></div>
		</div>
</div>
		<section class="sectors-landingpage-body"  >
        <div class="content-box-top-down sectors-landingpage-body-main" style="margin-top: 0px;margin-bottom: 25px;">
            <div class="sectors-landingpage-body-inner">
                <div class="container">
                    
                 
                    <div class="row listOfThreeButsInRow-upImg-DownContent-ColorBG wow fadeInRight" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInRight;">


@foreach (var item in compaines)
{
	 <div class="col-sm-3 oneOfThreeButs-upImg-ColorBG-DownContent">
                                <a href="@item?.Link?.Url" class="oneOfThreeButs-upImg-ColorBG-DownContent-action">
                                    </a><div class="But-upImg-ColorBG-DownContent-inner"><a href="@item?.Link?.Url" class="oneOfThreeButs-upImg-ColorBG-DownContent-action">
                                        <div class="But-upImg-img">
                                            <div class="box-item-effect-semi" id="box-item-effect"></div>
                                            <div class="box-item-effect2-alpha" id="box-item-effect2-alpha"></div>
                                            <img class="img-responsive" src="@item.Image?.Url()?anchor=center&amp;mode=crop&amp;&amp;&amp;rnd=132440410620000000" alt="@item.Title">
                                        </div>
    
    
                                        </a><div class="But-DownContent-content-ColorBG"><a href="@item?.Link?.Url" class="oneOfThreeButs-upImg-ColorBG-DownContent-action">
																					<h5>@item.Title</h5>
                                            
                                            <p></p><p>@item.Textarea</p>
                                            </a><div class="big-topic-btn"><a href="@item?.Link?.Url" class="oneOfThreeButs-upImg-ColorBG-DownContent-action">
                                                </a><a href="@item?.Link?.Url" class="btn btn-Cw-Bu-to-Cb-Bw" title="Find Out More" role="button">@Umbraco.GetDictionaryValue("findoutmore")</a>
                                            </div>
                                        </div>
                                    </div>
                                
                            </div>
	   
}
                           
                        </div>
    
    

                </div>
            </div>
        </div>
    </section>
		<section id="header-slider">
  

<div class="container"> 
  <div class="title-grneral-flued">
		<h4>@Model.Cloudname</h4>
		<div class="red-line-top"></div>
		</div>
</div>
            </div>

  <!-- Wrapper for slides -->
 
 
		@Html.GetBlockListHtml(Model.Curosellist)
					

        
     </section>  