  @inherits UmbracoViewPage
  @{
          var homepage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
          //var children = homepage?.Children?.Where(x=>x.IsVisible()) ?? Enumerable.Empty<IPublishedContent>();
            var children = homepage?.MainNavigation;
  }
  <!-- Navigation-->
                     <div class="container site-menu">
                        <div class="collapse navbar-collapse">

                            <div class="navbar-menu">
                                <div class="navbar-menu-inner">
        <a class="homeBut-menu" href="@homepage.Homepagelink.Url">@homepage?.FirstLabel</a>
                                    <div class="menu-dropdown">
                                        <div class="dropbtn-menu"><a >@homepage?.Secondlabel</a></div>
                                        <div class="container megaMenu-drop dropdown-content">
    <div class="row g-1">
    
        <div class="column">
         <a class="" href="@children.ElementAt(0).Link.Url">
         <h3 class="inner-link">@children.ElementAt(0).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(0).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>

          <div class="column">
         <a class="" href="@children.ElementAt(1).Link.Url">
         <h3 class="inner-link">@children.ElementAt(1).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(1).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>
          <div class="column">
         <a class="" href="@children.ElementAt(2).Link.Url">
         <h3 class="inner-link">@children.ElementAt(2).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(2).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>

          <div class="column">
         <a class="" href="@children.ElementAt(3).Link.Url">
         <h3 class="inner-link">@children.ElementAt(3).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(3).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
            </div>
    
  </div>

  
     <div class="row g-1">
    
        <div class="column">
         <a class="" href="@children.ElementAt(4).Link.Url">
         <h3 class="inner-link">@children.ElementAt(4).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(4).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>

          <div class="column">
         <a class="" href="@children.ElementAt(5).Link.Url">
         <h3 class="inner-link">@children.ElementAt(5).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(5).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>
          <div class="column">
         <a class="" href="@children.ElementAt(6).Link.Url">
         <h3 class="inner-link">@children.ElementAt(6).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(6).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>

          <div class="column">
         <a class="" href="@children.ElementAt(7).Link.Url">
         <h3 class="inner-link">@children.ElementAt(7).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(7).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>
    
    </div>
 <div class="row g-1">
    
        <div class="column">
         <a class="" href="@children.ElementAt(8).Link.Url">
         <h3 class="inner-link">@children.ElementAt(8).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(8).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
        </div>

          <div class="column">
         <a class="" href="@children.ElementAt(9).Link.Url">
         <h3 class="inner-link">@children.ElementAt(9).Title</h3>
        </a>
   @foreach (var element in children.ElementAt(9).ChildrenLinks)
           {
               <a class="inner-inner-link" href="@element.Url">@element.Name</a>
                                                 
           }
  

    
    </div>

 </div>

                                        </div>
                                    </div>
                                </div>




                                </div>
                            </div>

                        </div>



                    </div>






                    <nav id="menu">
                        <label for="tm" id="toggle-menu">@Umbraco.GetDictionaryValue("mastertranslations")
<span class="drop-icon">&#9776;</span></label>
                        <input type="checkbox" id="tm">
                        <ul class="main-menu clearfix">

       <li><a href="@homepage.Homepagelink.Url">@homepage.FirstLabel</a></li>
                                           @foreach (var item in children)
                                                {
                           <li><a href="@item.Link.Url">@item.Title
                                    <span class="drop-icon">▾</span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="@item.Key">▾</label>
                                </a>
                                <input type="checkbox" id="@item.Key">
                                <ul class="sub-menu">
                                    @foreach (var element in item.ChildrenLinks)
                                                    {
                                                        <li><a href="@element.Url">@element.Name</a></li>
                                                    }
                              
                                </ul>
                            </li>


                                                }

                            <li><a rel="noreferrer" href="http://ir.elsewedyelectric.com/elsewedyelectric/" target="_blank">Investors</a></li>
                            <li><a rel="noreferrer" href="../careers/index.html">Careers</a></li>
                            <li><a class="" href="../data-privacy/index.html">Data Privacy</a></li>
                            <li><a class="" href="../cookie-policy/index.html">Cookie Policy</a></li>

                            <li><a href="javasript:void(0)">Language
                                    <span class="drop-icon">▾</span>
                                    <label title="Toggle Drop-down" class="drop-icon" for="sm12">▾</label>
                                </a>
                                <input type="checkbox" id="sm12">
                                <ul class="sub-menu">
                                    <li><a href="javascript:void(0);">English</a></li>
                                    <li><a href="../../fr/home/index.html">Français</a></li>
                                    <li><a href="../../ar/home/index.html">عربي</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
